---
title: "Hi, everybody ——"
layout: splash
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/header-image-1.jpg

  actions:
    - label: "About me →"
      url: "/about/"
  caption: "Photo credit: [**Wallhere**](https://wallhere.com/)"

intro:
  - excerpt: '
  <span id="poem_sentence"></span>
  <br/><br/>
  <a class="github-button" href="https://github.com/ehnait/ehnait.github.io" data-icon="octicon-star" data-size="large"
     data-show-count="true" aria-label="Star ehnait/ehnait.github.io on GitHub">Star</a>
  <a class="github-button" href="https://github.com/ehnait/ehnait.github.io/fork" data-icon="octicon-repo-forked"
     data-size="large" data-show-count="true" aria-label="Fork ehnait/ehnait.github.io on GitHub">Fork</a>
  <a class="github-button" href="https://github.com/ehnait/ehnait.github.io/archive/HEAD.zip" data-icon="octicon-download"
     data-size="large" aria-label="Download ehnait/ehnait.github.io on GitHub">Download</a>
  '

excerpt:
  '
  这是我的个人小站。 <br />
  我将会持续以<a href="/articles/">Articles</a>、<a href="/notes/">Notes</a>、<a href="/posts/">Posts</a>的形式发布合适的网络内容，有时我也会在<a href="/life/">Life</a>分享生活记录。<br />
  <small>—— 其实更多的，我只是把它当做备忘录。hhh~ </small>
  '
feature_row1:
  - image_path: /assets/images/home-image-1.jpg
    alt: "文章集"
    title: "文章集"
    excerpt: '这是一个包含长篇写作和教程的合集。<br /> —— 主要涵盖了常用工具和软件开发方面的内容。'
    url: "/articles/"
    btn_class: "btn--primary"
    btn_label: "Read More"

feature_row2:
  - image_path: /assets/images/home-image-2.jpg
    alt: "笔记"
    title: "笔记"
    excerpt: "简短、扼要的想法、灵感、错误和其他琐事。<br /> —— 这些是你会在笔记本上记下来以便以后记住的碎片。"
    url: "/notes/"
    btn_class: "btn--primary"
    btn_label: "Read More"

feature_row3:
  - image_path: /assets/images/home-image-3.jpg
    alt: "帖子"
    title: "帖子"
    excerpt: "一些帖子。<br /> —— 主要涉及技术主题, 可以评论和分享它们"
    url: "/posts/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row4:
  - image_path: /assets/images/home-image-4.jpg
    alt: "Life"
    excerpt: <br />"*日常分享｜不完全生活记录."
    url: "/life/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

<!--<style>-->
<!--  .splash {-->
<!--    max-width: 1060px;-->
<!--    margin: 0 auto;-->
<!--  }-->

<!--  .page__title {-->
<!--    display: none;-->
<!--  }-->

<!--  .intro_text .archive__item-body {-->
<!--    max-width: 700px;-->
<!--    width: auto;-->
<!--  }-->
<!--</style>-->

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="right" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="center" %}


<script async defer src="/assets/js/github-buttons.js"></script>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
    jinrishici.load(result => {
        const sentence = document.querySelector("#poem_sentence")
        sentence.innerHTML = `${result.data.content}      —— ${result.data.origin.author}`
    });
</script>